* {
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(39, 39, 39);
  }


  
  header {
    background: rgb(240, 211, 233);
    margin-bottom: 20px;
    padding-left: 30px;
    padding-bottom: 10px; /*на некоторых страницах не магнитится к верху*/
  }

  header div a {
    margin-left: 10px;
    text-decoration: none;
  }
  
  header div {
    margin-top: 10px;
  }

  ul li {
    display: inline-block;
  }
  
  li {
    padding: 9px;
  }
  
  li a{
    text-decoration: none;
    color: rgb(41, 41, 41);
  }


  .content{
    width: 80%;
  }
  
  main {
    width: 70%;
    min-height: calc(100vh - 150px - 84px);
  }

  section{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  article{
    border: 1px solid rgb(22, 22, 22);
    margin: 10px 0;
    padding: 30px;
    width: 60%;
  }

  article img{
    float: left;
    margin: 10px 10px 7px 0;
  }

  article p{
    line-height: 30px;
  }

  article h2{
    font-size: 24px;
  }

  article h3{
    text-align: right;
    color: blue;
  }

  footer {
    margin-top: 10px;
    background-color:  rgb(240, 211, 233);
    height: 150px;
  }

  nav h2{
    text-align: center;
  }