*{
    margin: 0;
    padding: 0;
}

.line li{
    display: inline-block;
    background-color: lightcoral;
    padding: 10px;
}

.links{
    width: 200px;
}

.links a{
    display: block;
    background-color: blue;
    color:white;
    text-decoration: none;
    margin-top: 10px;
    padding: 10px 5px;
}

.blocks{
    margin-top: 20px;
}

.blocks div{
    display: inline;
    background-color: brown;
    padding: 10px;
}

.blocks .non{
    display: none;
}

.links-markers{
    margin-top: 20px;
}

.links-markers a{
    background-color: black;
    display: list-item;
    width: 200px;
    color: white;
}

.post1 img{
    border: 3px dashed red;
    float: left;
    margin-right: 12px;
}
.post1{
    color: white;
    background-color: #930303;
    height: 100px;
}

.post2{
    margin-top: 30px;
    color: white;
    background-color: #930303;
    height: 100px;
}

.post2 img{
    border: 3px dashed red;
    float: right;
    margin-right: 12px;
}

.weather{
    margin-top: 30px;
    width: 375px;
}

.weather div{
    margin-right: 5px;
    width: 120px;
    display: inline-block;
}

.weather h3{
    background-color: blue;
    color: white;
    text-align: center;
}

.sun{
    float:left;
}

.snow{
    float: none;
}

.wind{
    float: right;
}

.weather .temp{
    background-color: white;
    text-align: center;
    color: black;
    font-size: 24px;
}