*{
    margin: 0 auto;
    padding: 0;
    font-size: 16px;
    font-family: Arial;
}

@font-face {
    font-family: RobotoRegular;
    src: url(../../../font/Roboto/Roboto-Regular.ttf);
}

header{
    background: rgb(240, 211, 233);
    margin-bottom: 20px;
    padding-left: 30px;
    padding-top: 7px;
    padding-bottom: 10px; /*на некоторых страницах не магнитится к верху*/
}

ul li {
    display: inline-block;
}
  
li{
    padding: 9px;
}
  
li a{
    text-decoration: none;
    color: rgb(41, 41, 41);
}

h2{
    text-align: center;
}

main{
    width: 70%;
    min-height: calc(100vh - 150px - 84px);
}

section{
    display: flex;
    flex-wrap: wrap;
}

article{
    color: white;
    width: 567.06px;
    padding: 72.31px 0 54.94px 67.3px;
    margin-bottom: 30px;
    border-radius: 10px;
}

article p{
    width: 310px;
    font-family: 'Tahoma';
    font-size: 16px;
    margin: 11px 0 30px 0;

}

h3, p{
    margin: 0;
}

article h3, article button{
    font-family: RobotoRegular;
    text-transform: uppercase;
}

article h3{
    font-size: 36px;
    line-height: 42px;
}

article .price{
    font-family: RobotoRegular;
    font-size: 24px;
}

.price span{
    font-size:  48px;
    color: #df59ca;
    font-weight: bold;
}

article button{
    font-size: 18px;
    background-color: #f26689;
    border: 0;
    padding: 19px 38px;
    border-radius: 3px;
    color: white;
    cursor: pointer;
}

article:nth-child(2n-1){
    margin-left: 30px;
}

article:nth-child(1){
    background: linear-gradient(75.91deg, rgba(50, 34, 67, 0.8) 15.12%, rgba(50, 34, 67, 0) 95.53%), url("../../../img/doors-feature.png");
    background-size: cover;
}

article:nth-child(2){
    background: linear-gradient(75.91deg, rgba(50, 34, 67, 0.8) 15.12%, rgba(50, 34, 67, 0) 95.53%), url("../../../img/rehau-geneo-hst-05_1555579416.png");
    background-size: cover;
}

article:nth-child(3){
    background: linear-gradient(75.91deg, rgba(50, 34, 67, 0.8) 15.12%, rgba(50, 34, 67, 0) 95.53%), url("../../../img/13-panoramnye-okna-v-zagorodnom-dome.png");
    background-size: cover;
}

article:nth-child(4){
    background: linear-gradient(75.91deg, rgba(50, 34, 67, 0.8) 15.12%, rgba(50, 34, 67, 0) 95.53%), url("../../../img/terrasy_04.png");
    background-size: cover;
}

footer {
    margin-top: 10px;
    background-color:  rgb(240, 211, 233);
    height: 150px;
}

nav{
    padding-top: 2%;
    text-align: center;
}