*{
    width: 100%;
    margin: 0, auto;
}

.nav0{
    width: 40%;
    display: flex;
    justify-content: space-between;
    background-color: #e9e5d2;
    opacity: 0.7;
}

.nav0 a{
    text-decoration: none;
}

a{
    color: #1d1c17;
}

.main_ss{
    color:#7e2e16;
}

.nav1{
    text-decoration: none;
}

.nav1 a{
    margin-right: 15px;
    color:#5c5c5c;
}

body{
    background-color: #e2dfcd;
}

main{
    width: 49%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 2%;
}

section{
    width: 80%;
    margin-top: 30px;
    background-color: #aec486;
    border-radius: 10px;
    padding: 4px;
}

.trade{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px ;
}

.price{
    font-size: 16px;
    margin-top: 8px;
}

.contacts{
    background-color: #e9e5d2;
    display: flex;
    width: 40%;
    justify-content: space-between;
    margin-top: 20px;
    border-radius: 2px;
}

.content{
    width: 98%;
    display: flex;
}

aside{
    width: 49%;
    background-color: #cdd6bc;
    border-radius: 10px;
}

aside img{
    width: 170px;
    margin-top: 15px;
}